*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header{
    background: rgb(114, 27, 255);  
    padding: 0 1%;
}

.header a{
    filter: invert();
    font-weight: bold;
}

.brand-logo{
    font-size: 1.5rem;
}

.logo-img{
    width: 50px;
    filter: invert();
}

#menus .icons{
    width: 25px;
    transition: .3s;    
}

#menus .icons:hover{
    transform: translateY(-5px);
}

.lg-sn:hover{
    border-bottom: 2px solid rgba(17, 17, 17, 0.37);    
}

.loginheader{
	margin-bottom: 0px;
	margin-top: 1px;
}

.booking-form-signup{
	background-color: #fff;
	padding: 5px 20px;
	-webkit-box-shadow: 0px 1px 20px -1px #1e62d8;
	box-shadow: 0px 1px 20px -1px #1e62d8;
	border-radius: 10px;
	width: 25%;
	margin-left: 150px;
	margin-top: 80px;
	opacity: 0.9;
}

.booking-form-signup .op{
	background-color: white;
	opacity: 0.9;
}

.booking-form-signup .form-group {
	position: relative;
	margin-bottom: 15px;
}

.booking-form-signup .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}



.booking-form-signup .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form-signup .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #1e62d8;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
}

.booking-form-signup .submit-btn:hover,
.booking-form-signup .submit-btn:focus {
	opacity: 0.9;
}


input[type="radio"]{
  margin-right: 8px;
  margin-left: 8px;
}

/* nav dropdown */









.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #111;
  }
  
  .dropdown-content a:hover {background-color: 0;}
  
  .dropdown:hover .dropdown-content {display: block;background: #fff;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
