*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header{
    background: rgb(114, 27, 255);  
}

.header a{
    filter: invert();
    font-weight: bold;
}

.brand-logo{
    font-size: 1.5rem;
}

.logo-img{
    width: 50px;
    filter: invert();
}

#menus .icons{
    width: 25px;
    transition: .3s;    
}

#menus .icons:hover{
    transform: translateY(-5px);
}

#search-bar .items-bar{
    display: flex;
    border-bottom: 0.3px solid rgba(17, 17, 17, 0.233);
}

.bar-item{
    text-align: center;
    padding: 20px;
}

.bar-item input{
    width: 100%;
    height: 50px;
    border: none;
    padding: 20px;
    background: rgba(158, 187, 240, 0.233);
    border-radius: 5px;
}

.it{
    padding-top: 20px;
    border-radius: 5PX;
}

.it a{
    background: rgba(158, 187, 240, 0.233);
    padding: 14px; 
    display: block;
    border-radius: 5px
}

.it1{
    /* margin-left: ; */
    left: 30px;
}

.cat{
   right: 30px;
}

.banner-cont{
    text-align: left;
    margin: auto 0;
    padding-left: 80px;
}

.banner-cont h1{
    font-size: 5rem;
    font-weight: bold;
}

.banner-cont p{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* .img-bx{
    text-align: c;
    justify-content: center;
    align-items: center;
    margin: auto 0;
} */

.img-bx img{
    width: 140%;
    height: 100%;
}

.btn-ln{
    padding: 15px 30px;
    border: 1px solid  rgb(114, 27, 255);
    border-radius: 5px;
    color:  rgb(114, 27, 255);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: .2s linear;
}

.btn-ln:hover{
    background: rgb(114, 27, 255);
    color: #fff;
    text-decoration: none;
}

#tr-bx{
    padding: 20px;   
    margin-bottom: 20px; 
}

.img-tr{
    /* background: chocolate; */
}

.img-tr img{
    width: 100%;
    height: 100%;
}

#tr-bx .cont{
    margin: auto auto;
}

.tr-cont{
    
}

.tr-cont h2{
    font-size: 3.2rem;
    font-weight: bold;
}

.tr-cont p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.rec-img-pm{
    justify-content: center;
    align-items: center;
    padding: 2%;
    min-height: 60vh;
    /* border: .5px solid rgb(114, 27, 255); */
    /* margin: 0 1px; */
    border-radius: 5px;
}

.rec-img-pm .imgs{
    width: 100%;
    height: 100%;
}

.rec-img-pm .cs-bx{
    padding: 1%;
    text-align: center;
    margin: 10px;
    border: .2px solid rgba(105, 105, 105, 0.24);
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
}

.rec-img-pm .cs-bx:hover{
    background: rgba(105, 105, 105, 0.096);
}